@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #464655;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('bus.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    text-align: center;
}
.navbar {
    background-color: black;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    opacity: 0.7;
    color: white;
    width: 100%;
    
}
.navbar:hover {
    width:95%;
    transition: 1000ms;
}
.navbar ul li {
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    display: inline;

}

.navbar ul li  a {
    text-decoration: none;
    font-family: Inconsolata, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    display:inline-block;
    padding:10px;
}

.navbar ul li  a:hover {
    color: red;
    opacity: 1.0;
    

}

.flex2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 6%;  
    left: 80%;  
}

.mainDiv form{
    
    max-width: 400px;
    max-height: 600px;
    min-width: 100px;
    min-height: 200px;
    border: 2px solid red;
    border-radius: 5px;
    background-image: url('grafitti.png');
    background-size: cover;
    z-index: 1;
    
}
.mainDiv form input {
    border: 10px solid white;
    border-radius: 4px;
}
.mainDiv form label {
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    color: white; 
    padding-bottom: 8px; 
    
    
}
.mainDiv form input:hover {
    border: 10px solid whitesmoke;
    opacity: 0.9;
    border-radius: 4px;
    
    
   
}
.forma {
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}

#dugme {
    margin-top: 20px;
    border: crimson;
    border-radius: 3px;
    max-width: 200px;
    max-height: 70px;
    color: black;
    background-color: white;
    font-family: Inconsolata;
    font-size: 2rem;
    padding: 2px;
    transition: 200ms;
}

#dugme:hover {
    color: white;
    background-color: black;
}

.formaElem {
    margin:10px 0px 10px 0px;
}

.paragraf1 {
    color: white;
    border: 3px solid red;
    float: left;
    height: auto;
    width: 24%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: 300ms;
}
.paragraf1:hover {
    background-color: rgba(0, 0, 0, 0.4);
    
}

.futer {
    font-family: Inconsolata, sans-serif;
    font-weight: bold;
    font-size: 22px;
    height: 4%;
    width: 300px;
    border: 3px solid blue;
    margin: 10px 3px 0 3px;
    position: relative;
    left: 38%;
    color: white;
    transition: 400ms;
}

.futer:hover{
    border:3px solid rgb(0, 0, 255, 0.3);
    
}
.megadeath {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 15px;
    border: 2px solid red;
    box-sizing: border-box;
    width: 33%;
    height:auto;
    
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    clear: both;
}

.article {
    display: flex;
    border: 3px solid red;
    position: absolute;
    top: 85vh;
}